
.corpo{
  background-image: url(sfondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.riquadro{
  background-color: rgba(0,0,0,0.5);
  width: 950px;
  height: 660px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 90px;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 120px;
}

header :first-child{
  width: 190px;
  height: 85px;
  padding-left: 380px;
}

header :last-child{
  color: #00FF00;
  text-align: center;
  font-weight: normal;
  font-family: arial;
  font-size: 25px;
  display: block;
  margin: auto;
  margin-top: 5px;
}

nav{
  background-color: #00FF00;
  margin: auto;
  height: 40px;
  box-sizing: border-box;
  width: 775px;
  padding-top: 10px;
  margin-top: 5px;
  text-align: center;
}

input[type="button"]{
  font-size: 10px;
}



section{
  margin-top: 15px;
  padding-left: 90px;
}

section > span{
  color: white;
  font-family: arial;
  font-weight: normal;
  font-size: 13px;
  margin-top: 5px;
  display: block;
}

.carica1{
  display: inline-block;
  width: 260px;
  height: 25px;
  background-color: #f3bd5a;
  border-radius: 5px;
  margin-top: 2px;
}
.carica2{
  display: inline-block;
  width: 475px;
  height: 25px;
  background-color: #03bf03;
  border-radius: 5px;
  margin-top: 2px;
}

.carica3{
  display: inline-block;
  width: 115px;
  height: 25px;
  background-color: #c33450;
  border-radius: 5px;
  margin-top: 2px;
}

section > h3{
  display: inline;
  color: white;
  font-family: arial;
  font-weight: normal;
}
